body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 100dvh;
}

.body {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bolder;
	font-size: larger;
}

button {
	border: 2px solid white;
	font-weight: bolder;
	font-size: larger;
	background-color: black;
	color: white;
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.dialogueAndButton {
	padding: 0 1rem;
	text-align: center;
}

.nextFood {
	color: gold;
}

.timer {
	color: green;
	font-size: larger;
}
.lowTimer {
	color: red;
	font-size: larger;
}
